body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(18, 137, 201);
    width: 400px;
    height: 400px;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}